.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #f5f6fa;
}

.formCard {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.formTitle {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom:2px;
}



.uploadSection {
  text-align: center;
  margin-bottom: 1.5rem;
  position: relative;
}

.uploadCircle {
  width: 80px;
  height: 80px;
  border: 2px dashed #ccc;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.uploadButton {
  background-color: #e0f7fa;
  border: 1px solid rgb(152, 237, 232);
  padding: 0.4rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  color: #00796b;
  margin-bottom: 1rem;
}

.storeImage {
  width: 215px;
  margin-top: -40px;
  position: absolute;
  right: 0;
  top: 0;
}

.sectionHeading {
  margin-top: 2rem;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
background: linear-gradient(90deg, #c29400, #601199);
font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.iconColor{
  color: purple;
}
.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.cancelBtn {
  background: white;
  border: 1px solid #00acc1;
  color: #00acc1;
}

.saveBtn {
  background: linear-gradient(to right, #00acc1, #7b1fa2);
  color: white;
  border: none;
}